.changeContainer {
    width: 30%;
    height: 200px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    margin-bottom: 30px;
    background-color: white;
    border-radius: 15px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.changeButton {
    width: 250px;
    height: 50px;
    line-height: 0;
    padding: 10px;
    color: white;
    background-color: #DC143C;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: 150ms ease;
    font-size: 20px;
}

.changeInput {
    font-size: 20px;
    width: 350px;
    box-sizing: border-box;
    border: none;
    border-radius: 15px;
    padding: 10px;
    outline: none;
    background-color: #333;
    caret-color: #e0e0e0;
    color: #e0e0e0;
}