.graphContainer {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    background-color: white;
    width: 60%;
    padding: 30px;
    border-radius: 0 15px 15px 0;
}