.quiz-main-container {
    border: 1px solid;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    padding: 16px;
}

.quiz-question {
    font-size: 32px;
}

.quiz-image {

}

.quiz-options {
    display: flex;
}

.quiz-option {
    margin: 10px 20px;
    text-transform: capitalize;
}