.trackerContainer {
    padding: 30px;
    background-color: #DC143C;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 40%;
    height: 100%;
    border-radius: 15px 0 0 15px;
    gap: 10px;
    margin-bottom: 30px;
}

.trackerDivider {
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    width: 100%;
}

.trackerLeft {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.trackerRight {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.trackerImage {
    width: 125px;
    height: 125px;
}

.trackerButton {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.trackerButton:hover {
    background-color: transparent;
}

.pieContainer {
    width: 125px;
    height: 125px;
    position: relative;
}

.pieText {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-weight: bold;
    font-size: 16px;
    text-align: center;
}